.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    font-size: 22px;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 30px 50px;
  }
  
  input {
    background-color: #EFF0F6;
    border-radius: 10px;
    opacity: 50%;
    color: black;
    font-size: 22px;
    padding: 0 5%;
  }
  
  .pass-wrapper {
    position: relative;
    display: flex;
    border: 2px solid #5F2EEA;
    border-radius: 10px;
  }
  
  i {
    position: absolute;
    color: #111;
    top: 18%;
    right: 5%;
  }
  i:hover {
    color: #5F2EEA;
    cursor: pointer;
  }
  