.btn-main{
    background-color: #5F2EEA;
    border: 2px solid #5F2EEA;
    color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius:10px;
    transition: all linear .3s;
}

.btn-main:hover{
    background-color: #fff;
    border: 2px solid #5F2EEA;
    color: #5F2EEA;
    padding: 10px 30px;
    text-align: center;
    border-radius:10px;
    transition: all linear .3s;
}

.btn-second{
    background-color: #fff;
    border: 2px solid #5F2EEA;
    color: #5F2EEA;
    padding: 10px 30px;
    text-align: center;
    border-radius:10px;
    transition: all linear .3s;
}

.btn-second:hover{
    background-color: #5F2EEA;
    border: 2px solid #5F2EEA;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    border-radius:10px;
    transition: all linear .3s;
}