.watch{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 28px 30px;
    border-radius: 25px;
}

.btn-watch{
    background-color: #fff;
    border: 2px solid #5F2EEA;
    color: #5F2EEA;
    padding: 5px 25px;
    text-align: center;
    border-radius:30px;
    transition: all linear .3s;
}

.btn-watch:hover{
    background-color: #5F2EEA;
    border: 2px solid #5F2EEA;
    color: #fff;
    padding: 5px 25px;
    text-align: center;
    border-radius:30px;
    transition: all linear .3s;
}